
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --secondary-color : #E4E4E4;
    --blue-color : #3b50df;
    --gray-color : #616679;
    --dark-color : #201e42;
    --pink-color : #ff5771;
}

body {
  font-family: Urbanist;
  background-color: rgb(202, 216, 227);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.btn {
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
}

.heading {
    color: var(--secondary-color);
    font-size: 4.5rem;
    letter-spacing: 2.5px;
    font-weight: bold;
}

.para {
    color: #ccc;
    font-size: 18px;
    letter-spacing: 2px;
}
.sub-heading {
    font-size: 3rem;
}

.container {
    padding: 80px;
}

img {
    width: 100%;
    display: block;
    border-radius: 30px;
}


/* !Navigation Bar */
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-icon {
    padding: 5px 8px;
    background-color:var(--secondary-color);
    border-radius: 50%;
}

.nav-bar i {
    color: var(--blue-color);
    font-size: 2.5rem;
}

.logo-title {
    font-family: 'DM Serif Display', serif;
    font-size: 1.8rem;
}

.nav-bar {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-bar .menu {
  width: 50%;
}

.menu .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .list .list-link {
  font-size: 20px;
  font-weight: bold;

}

.menu .list .list-link::after {
  content: '';
  height: 4px;
  background-color: var(--blue-color);
  width: 0;
  display: block;
  border-radius: 5px;
}

.menu .list .list-link:hover::after {
  width: 85%;
  transform: translate(10%, 30%);
}

.right-menu {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}

.right-menu .sign-up {
    background-color: var(--pink-color);
}

/* !heading-Section */
.heading-section {
    background: url(img/heading-img.jpg) no-repeat center center / cover;
    height: 650px;
    position: relative;
}

.heading-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px ;
}

.heading-content .explore-btn {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    padding: 20px 30px;
    margin: auto;
    margin-top: 20px;
}

.heading-content .explore-btn:hover {
    transform: scale(1.1);
}

.heading-content p {
    margin: 15px 0;
}

/* !About-section */
.about-section {
    background-color: var(--secondary-color);
}


.about {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 130px;    
}

.about-img {
    width: 600px;
    border-radius: 30px;
}

.about-section  .sub-heading span {
    color: var(--blue-color);
}

.about-section .para {
color: #333;
margin-top: 10px;
}

.about-section .info {
    margin-top: 40px;
}

.info-list {
    margin-top: 40px;
    display:flex;
    align-items: center;
    gap: 20px;
}

.info-list i {
    font-size: 1.8rem;
}

.small-title {
    color: #000;
    font-weight: bold;
}

.info-2  i{
    color: var(--pink-color);
}


.info-3  i{
    color: var(--blue-color);
}

/* !Order servcice Section */

.order{
    position: absolute;
    gap: 60px;
    padding: 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 20px ;
    border-radius: 15px;
    left: 280px;
    bottom: -65px;
    box-shadow: 0 -10px 40px rgba(0,0,0,0.2);
}
.order-details {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.order .option {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    font-weight: 600;
}

.option .btn {
    background-color: var(--secondary-color);
    color: var(--pink-color);
    padding: 10px 40px;
}

.search-btn {
    padding: 17px 50px;
    background-color: var(--dark-color);
    border-radius: 17px;
    margin: auto;   
    color: #fff;
    transition: background-color 0.2s;
}
.search-btn:hover {
    transform: scale(1.01);
    background-color: darkblue;
}

/* !home-Section */
.home-section {
    background-color: var(--secondary-color);
}
 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 60px;
    font-size: 4.5rem;
    letter-spacing: 3.5px;
}

.home-section .para {
    margin: 50px 0;
    color: #333;
    text-align: center;
}

.home-section img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.box-item {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color:#fff;
    position: relative;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

.item-details {
    padding: 20px;
}

.home-section .sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-section .price {
    font-size: 2rem;
    font-weight: bold;
}

.home-section .for-sale {
    background-color: var(--pink-color);
    transition: all 0.5s;
}

.for-sale:hover {
    transform: scale(1.1);
}
 .text-small {
    font-size: 16px;
    color: #333;
}
.home-section .house-details i {
    color: #000;
}

.home-section .house-details {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.home-section .house-details .btn {
    background-color: var(--secondary-color);
    color: #333;
    padding: 8px 10px;
    border-radius: 4px;
}

.view-details {
    position: absolute;
    width: 50%;
    text-align: center;
    right: 0;
    bottom: 0;
    padding: 20px 30px;
    border-radius: 0 0 15px 0;
    background-color: var(--blue-color);
    transition: background-color 0.5s;
}
.view-details:hover {
    background-color: blue;
    letter-spacing:1.5px;
}

/* !Service Section */
.service-section {
    text-align: center;
    background-color: var(--secondary-color);   
}

.service-section .title {
    margin-top: 30px;
}

.service-section .para {
    margin: 50px 0 70px 0;
    color: #333;
}

.service-section .box {
    grid-template-columns: repeat(3, 350px);
}

.service-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.icon {
    padding: 23px 20px;
    border-radius: 50% ;
    background-color: pink;
    margin: auto;
}

.service-section i {
    color: #fff;
    font-size: 1.5rem;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: purple;
}

/* !Video Section */


.video-section .container {
    padding: 80px 80px  0 80px;
    position: relative;
    background-color: #ccc;
}
.video-section img {
    margin-top: 60px ;
    border-radius: 20px 20px 0 0;
    /* height: 750px; */
}

.desc {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: absolute;
    left:110px;
    bottom: 50px;
    color: #fff;
}

.desc .title {
    text-transform: capitalize;
    margin: auto;
}

.video-section .play-icon {
    font-size: 4rem;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}


/* !Blog Section */
.blog-section {
    background-color: var(--secondary-color);
}

.blog-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 30px;
    justify-content: center;
    height: 100%;
}

.blog-section .blog-left img {
    width: 150px;
    height: 140px;
}

.blog-right img{
    height: 100%;
}
.blog-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.blog-left .blog-item {
    display: flex;
    gap: 40px;
    align-items: center;
}

.blog-left .para {
    color: #000;
    font-weight: bold;
}

.blog-left .blog-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog-left .blog-date {
    color: var(--pink-color);
}

/* !Choose-section */
.choose-section {
    background-color: var(--secondary-color);
    /* height: 750px; */
}

.choose-section .choose-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    height: 700px;
    justify-content: center;
    align-items: center;
}
.choose-content .choose-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 90px;
}

.choose-section .title {
    font-weight: bold;
    margin-top: 0;
}

.choose-section img {
    height: 600px;
    width: 100%;
}

.choose-left {
    position: relative;
}
.choose-content .choose-img-video {
    position: absolute;
    height: 300px;
    width: 390px;
    left: 350px;
    bottom: 100px;
    border: 5px solid #fff;
}

.choose-content .para {
    color: #333;
}

.choose-content .btn {
    color: #fff;
    font-weight: bold;
    padding: 20px 40px;
    background-color: var(--pink-color);
    margin: auto;
    margin-left: 0;
    border-radius: 25px;
    font-size: 1.5rem;
}
